PORT=39280
HOST=127.0.0.1
ADMIN_PASSWORD=change-me
TRAE_URL=https://work.trae.cn/
CHROME_CHANNEL=chrome
BROWSER_IDLE_MS=300000
RESPONSE_TIMEOUT_MS=120000
FRESH_SESSION_PER_REQUEST=true
HEADLESS_SERVICE=true
REMOTE_DISPLAY=auto
LOGIN_DISPLAY=:99
VNC_PORT=5900
NOVNC_PORT=6080
NOVNC_WEB_ROOT=/usr/share/novnc
# Examples:
# PROXY_SERVER=http://127.0.0.1:7890
# PROXY_SERVER=socks5://127.0.0.1:1080
PROXY_SERVER=
PROXY_USERNAME=
PROXY_PASSWORD=
